*{
    margin: 0;
    padding:0;
}

:root {
    --black: #000;
    --white:#ffff;
    --info: #17a2b8;

}


h2 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

hr{
   background-color:var(--info); 
}

.alinear {
 text-align: justify;
 
}

.centrar {
    text-align: center;
    
   }

.fondo{
    background-color: var(--black);
    color: #ffffff;
    padding: 50px;
}

.resize {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 400px;
    margin: 10px;
}

.estilo {
    color: var(--white);
}
 
.fondoinfo{
  background-color: var(--info);
}

footer {
    background: var(--info);
    text-align: right;
    vertical-align: center;
}

footer img {
    width: 4%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
